.Landing-page {
  display: flex;
}
body {
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: transparent;
}

.filter {
  width: 25%;
  height: 100vh;
  background-color: white;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #d2caca transparent;
}

.filter::-webkit-scrollbar,
.products::-webkit-scrollbar {
  width: 1px;
}

.Products-Partie{
    width: 75%;
    height: calc(100vh - 95px);
    overflow-y: scroll;
    scrollbar-width: 1px solid red;
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 transparent;
    padding: 15px;
    

}
.Products {
  margin: 0px;

}
.Products div:hover .action {
  opacity: 1;
}

.filter {
  padding: 15px;
}
.filter > div {
  margin-top: 40px;
  margin-bottom: 40px;
}
.filter div div {
  margin-top: 20px;
  margin-left: 10px;
}

.Products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin: 10px auto;
  padding: 5px;
}
.Products > div {
  border: 1px solid rgba(0, 0, 0, 0.128);
  border-top: none;
  border-radius: 10px;
}

.Switch {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 0px;
  padding-top: 40px;
}
.Switch div {
  display: flex;
  justify-content: space-between;
  
}
.Switch div p {
margin: 0px 10px;
text-transform: capitalize;
font-weight: bold;
}
.Switch > p{
    
    font-weight: bold;
}
.Switch div p i {
margin: 0px 5px;

}
@media (max-width: 768px) {

    .filter {
        display: none;
    }
    .Products-Partie{
        width: 100%;
        height: auto;
        overflow-y: visible;
        /* scrollbar-width: 1px solid red;
        scrollbar-width: thin;
        scrollbar-color: #f1f1f1 transparent;
        padding: 15px;
         */
    
    }
    .Products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        margin: 10px auto;
        padding: 0px;
      }
      .Switch div p:nth-child(2) ,
      .Switch div p:nth-child(3) {
       display: none;
        }
}