.produit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 20px auto 0px;
  text-transform: capitalize;
}
.image {
  background-image: url(7f17aabcdda3afc465fb8718f01bc8df.png);
  background-color: rgb(27 5 82 / 58%);
  background-size: contain;
  background-position: center;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-repeat: no-repeat;
}
.buy {
  background-color: #eee;
  padding: 50px;
  border-top-right-radius: 20px;
}
.buy p:first-child {
  font-weight: bold;
  font-size: 13px;
}
.buy h2 {
  margin-top: 10px;
}
.buy p:nth-child(3),
#New {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.buy div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;
}
.buy div p:last-child {
  padding: 7px 10px;
  background-color: rgb(27 5 82 / 58%);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.buy div:last-of-type {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
}
.buy div:last-of-type input {
  margin: 0 10px;
}

input[type="radio"]:first-of-type {
  accent-color: grey;
}
input[type="radio"]:last-of-type {
  accent-color: black;
}
input[type="radio"]:nth-of-type(2) {
  accent-color: darkred;
}

.About-product {
  width: 80%;
  height: 450px;
  margin: 0px auto 20px;
  background-color: rgb(5 16 82 / 53%);
}

@media (max-width: 768px) {
  .produit {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: 20px auto 0px; */
    flex-direction: column;
    text-transform: capitalize;
  }

  .image {
    
    background-size: contain;
    border-radius: 20px;
    border-top-right-radius: 20;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }
  .buy {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    padding: 25px;
  }
  .About-product {
    display: none;
  }
}
