
.produit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 20px auto;
  text-transform: capitalize;
}
.image {
  background-image: url(7f17aabcdda3afc465fb8718f01bc8df.png);
  background-color: rgb(27 5 82 / 58%);
  background-size: contain;
  background-position: center;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-repeat: no-repeat;
}
.buy {
  background-color: #eee;
  padding: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.buy p:first-child {
  font-weight: bold;
  font-size: 13px;
}
.buy h2 {
  margin-top: 10px;
}
.buy p:nth-child(3),
#New {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.buy div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;
}
.buy div p:last-child {
  padding: 7px 10px;
  background-color: rgb(27 5 82 / 58%);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
}
.buy div p:last-child:hover{
  background-color: rgba(27, 5, 82, 0.364);

}
.buy div:last-of-type {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
}
.buy div:last-of-type input {
  margin: 0 10px;
}

input[type="radio"]:first-of-type {
  accent-color: grey;
}
input[type="radio"]:last-of-type {
  accent-color: black;
}
input[type="radio"]:nth-of-type(2) {
  accent-color: darkred;
}

.About-product {
  width: 70%;
  height: auto;
  margin: 0px auto 20px;
  background-color: #e90000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.499);
  opacity: 0;
  display: none;
  transition: 0.3s ease;
}

.all {
  opacity: 1;
  transition: 0.2s ease;

}

.About-product > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.About-product > div:first-child p {
  padding: 2px 7.5px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
}

.About-product > div:last-child,
.About-product > div:nth-child(2),
.About-product > div:nth-child(3),
.About-product > div:nth-child(4) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.About-product > div:last-child div,
.About-product > div:nth-child(2) div,
.About-product > div:nth-child(3) div,
.About-product > div:nth-child(4) div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.About-product > div:last-child div input,
.About-product > div:nth-child(2) div input,
.About-product > div:nth-child(3) div input,
.About-product > div:nth-child(4) div input {
  border-radius: 5px;
  outline: none;
  width: 350px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #77777754;
}

#Address {
  width: 700px;
}
#Valider {
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.681);
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#Valider:hover{
  background-color: rgba(0, 0, 255, 0.482);

}

@media (max-width: 768px) {
  .produit {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }

  .image {
    background-size: contain;
    border-radius: 20px;
    border-top-right-radius: 20;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin: 0 auto;
  }
  .buy {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    padding: 25px;
  }
  .About-product {
    width: 90%;
    height: 500px;
    margin: 0px auto 20px;
    background-color: #e90000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.499);
    opacity: 0;
    display: none;
    transition: 0.3s ease;
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: transparent;

  }
  
  .all {
    opacity: 1;
    transition: 0.2s ease;
  
  }
  
  .About-product > div:first-of-type {
    display: flex;
    justify-content: space-between;
    
  }
  .About-product > div:first-child p {
    padding: 2px 7.5px;
    border-radius: 50%;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .About-product > div:last-child,
  .About-product > div:nth-child(2),
  .About-product > div:nth-child(3),
  .About-product > div:nth-child(4) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-direction: column;

  }
  .About-product > div:last-child div,
  .About-product > div:nth-child(2) div,
  .About-product > div:nth-child(3) div,
  .About-product > div:nth-child(4) div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 30px;
  }
  .About-product > div:last-child div input,
  .About-product > div:nth-child(2) div input,
  .About-product > div:nth-child(3) div input,
  .About-product > div:nth-child(4) div input {
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 40px;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid #77777754;
  }
  #Address {
    width: 250px;
    margin: 0px auto;
  }
}
